<app-header></app-header>

<html>
<head>
	<title> INDIA MJDS Jewellery SHOP </title>
	
	
</head>
<body>
	
	
	
	<div class="middle">
		<div style="background-image:url('');">
		<p>
			<br> <br>
					JEWELLERY SERVICES  <br>
			<font size="5px"> We Care About Your Jewellery </font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="900px">
						<font color="#000"> We are Jewellery center </font> <br> <br>

					<font color="#000" size="5px"> We Have Jewewllery  Discount Options for You! </font> <br> <br>

                    Jewellery (or jewelry in AmE) consists of decorative items worn for personal adornment, such as brooches, rings, necklaces, earrings, pendants, bracelets, and cufflinks. <br><br>

                    Humans have used jewellery for a number of different reasons: <br><br>
<ul>
<li> functional, generally to fix clothing or hair in place.
<li>as a marker of social status and personal status, as with a wedding ring
<li>as a signifier of some form of affiliation, whether ethnic, religious or social
<li>to provide talismanic protection
<li>as a carrier or symbol of personal meaning – such as love, mourning, a personal milestone or even luck
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>
